* body
	{
		background: #D7DEE5;
		margin-top: 0;
		font-family: 'Poppins', sans-serif;
	}


h1
	{
		font-family: 'Squada One', cursive;
		color: #ee202c;
		font-size: 46px;
	}


h2
	{
		font-family: 'Quicksand', sans-serif;
		font-size: 16px;
		line-height: 22px; 
	}



h3
	{
		font-family: 'Quicksand', sans-serif;
		font-size: 14px;
		line-height: 22px; 
	}



h4
	{
		font-family: 'Quicksand', sans-serif;
		font-size: 14px;
		line-height: 22px;
	}



p
	{
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		line-height: 18px;
		margin: 30px;
	}



a
	{
		font-family: 'Hepta Slab', serif;
		text-decoration: none;
		color:#39393A;
		font-size: 14px;
	}


a:hover
	{
		color: #FE5F55;
	}



.principal
	{
		margin-left: 600px;
	}



#topo {
	width: 1024px;
	height: 300px;
	margin: 0 auto;
}

#menu {
	width: 1024px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
}

#menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#menu ul li {
	display: inline;	
}

#menu ul li a {
	font-family: 'Hepta Slab' serif;
	text-decoration: none;
	color: #39393A;
	font-size: 18px;
	padding: 10px 10px;
	display: inline-block;
}

#menu ul li a:hover {
	color: #EE202C;
	border-bottom: 1px solid #EE202C;






